                        body {
                            font-family: Open Sans, sans-serif;
                            font-weight: 300;
                        }
                        
                        h1 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 800;
                        }
                        
                        h2 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 600;
                        }
                        
                        h3 {
                            font-family: Open Sans, sans-serif;
                            font-weight: normal;
                        }
                        
                        h4 {
                            font-family: Open Sans, sans-serif;
                            font-weight: normal;
                        }
                        
                        h5 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 800;
                        }
                        
                        h6 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 800;
                        }
                        
                        #sp-top-bar {
                            background-color: #ec5924;
                            color: #ffffff;
                        }
                        
                        #sp-bottom {
                            background-color: #f5f5f5;
                            padding: 100px 0px;
                        }
                        
                        #carouselExampleInterval {
                            padding-top: 100px;
                            padding-bottom: 100px;
                            height: 50%;
                            width: 100%;
                        }
                        
                        body {
                            font-family: Open Sans, sans-serif;
                            font-weight: 300;
                        }
                        
                        h1 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 800;
                        }
                        
                        h2 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 600;
                        }
                        
                        h3 {
                            font-family: Open Sans, sans-serif;
                            font-weight: normal;
                        }
                        
                        h4 {
                            font-family: Open Sans, sans-serif;
                            font-weight: normal;
                        }
                        
                        h5 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 800;
                        }
                        
                        h6 {
                            font-family: Open Sans, sans-serif;
                            font-weight: 800;
                        }
                        
                        .nav-item {
                            margin-right: 20px;
                        }
                        
                        #about {
                            z-index: -1;
                            background-image: url(https://pbs.twimg.com/profile_images/984043066435817472/9JyTh34a_400x400.jpg);
                            /* filter: blur(8px);
                            -webkit-filter: blur(8px); */
                            /* Full height */
                            /* height: 100%; */
                            /* Center and scale the image nicely */
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        
                        #text {
                            background-color: rgba(204, 150, 34, 0.1);
                            backdrop-filter: blur(8px);
                        }
                        
                        input[type=text],
                        input[type=email],
                        textarea {
                            width: 100%;
                            padding: 12px 20px;
                            margin: 8px 0;
                            display: inline-block;
                        }