{% extends "base.html" %} {% block content %} {% load static %}{% load bootstrap5 %} {% bootstrap_css %}

<body>


    <br>
    <br>

    <section id="page-title">
        <div class="row">
            <div id="title" class="col-sm-12 col-md-12">
                <div class="column ">
                    <div class="page-title">
                        <div class="p-3 mb-2 bg-#ec5924  text-white" style="background-color: #ec5924;">
                            <h2 style="padding: 40px; margin-left: 250px;">Hardware & Software</h2>
                            <div class="breadcrumb" style="margin-left: 290px;">
                                <span>You are here: </span>
                                <li><a href="/" class="pathway">Home /</a></li>
                                <li class="active">Hardware & Software</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section id="sp-main-body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="column ">
                        <div id="system-message-container">
                        </div>
                        <article class="item item-page" itemscope="" itemtype="#">
                            <meta itemprop="inLanguage" content="en-GB">



                            <div class="entry-header">


                            </div>





                            <div itemprop="articleBody">
                                <h1><span style="color: #ec5924;">Lorem, ipsum.</span></h1>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione eius nisi neque earum vel id, molestias temporibus culpa aliquid laboriosam corrupti sequi deleniti asperiores dolor aspernatur? Tempore maiores explicabo
                                    repellendus?
                                </p>
                                <p><img src="https://pbs.twimg.com/profile_images/984043066435817472/9JyTh34a_400x400.jpg" alt="out" width="400" height="247"></p>
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam odio sed cupiditate repudiandae neque laborum rerum harum quisquam voluptatem maiores.</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui distinctio, consequatur doloremque repudiandae nihil voluptates magni ab, accusantium, nesciunt saepe sed! Fugit sit rem id temporibus voluptatum assumenda perspiciatis.
                                    Ratione.
                                </p>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur beatae, at nobis veritatis illo minima suscipit similique. At quas quam tenetur impedit quod dolore ducimus!</p>
                                <p><span style="color: #ec5924;"><strong>Lorem ipsum dolor sit.:</strong></span></p>
                                <p><strong>Lorem, ipsum dolor:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, ipsam!</p>
                                <p><strong>Lorem ipsum dolor sit:</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, hic!</p>
                                <p><strong>Lorem, ipsum.:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati sequi corporis harum.</p>
                                <p><strong>lorem1`:</strong>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae quidem reiciendis labore tempore velit odit!</p>
                                <p><strong>Lorem:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, velit.</p>
                                <p><strong>Lorem, ipsum.:</strong> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, praesentium!</p>
                                <p><strong>Lorem ipsum dolor sit amet.:</strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, possimus cupiditate ea modi fugit iure aut consectetur pariatur eius atque!</p>
                                <p><strong>Lorem, ipsum dolor:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam doloremque repellat commodi.</p>
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

{% bootstrap_javascript %}{% endblock %}