{% load static %}{% load bootstrap5 %} {% bootstrap_css %}
<section id="sp-section-3">
    <br>
    <div class="body-innerwrapper">


        <div class="container">
            <div class="row" style="position: relative;">
                <div id="sp-menu" class="col-xs-4 col-sm-12 col-md-12" style="position: static;">
                    <div class="sp-column ">
                        <div class="sp-megamenu-wrapper">
                            <ul class="sp-megamenu">

                                <nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Eleventh navbar example">
                                    <div class="container-fluid">
                                        <a class="navbar-brand" href="/">Home</a>
                                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

                                        <div class="collapse navbar-collapse" id="navbarsExample09">
                                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                                <li class="nav-item">
                                                    <a class="nav-link" aria-current="page" href="/Aboutus">About Us</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/outsourcing">Outsourcing</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/support">Support</a>
                                                </li>

                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="networking" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Networking </a>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdown09">
                                                        <li><a class="dropdown-item" href="/networking">ICT Connectivity</a></li>


                                                    </ul>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/Hardware">Hardware & Software</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/CCTV">CCTV</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle" href="networking" id="dropdown09" data-bs-toggle="dropdown" aria-expanded="false">Networking </a>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdown09">
                                                        <li><a class="dropdown-item" href="/access">Access</a></li>


                                                    </ul>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/telecom">Telecom</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/contacts">Contact Us</a>
                                                </li>

                                                <li>
                                                    <a class="dropdown-item" href="#"></a>
                                                </li>

                                                </li>

                                            </ul>


                                            <!-- 
                            <span></span>
                            <span><a href="{% url 'logout'}">Logout</a></span> -->




                                        </div>
                                    </div>
                                </nav>



                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>